* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: Inter;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ReactCollapse--collapse {
  transition: height 500ms;
}